@model IEnumerable<NetworksManagement.Data.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title ">Devices List</h3>
                    </div>
                    <div class="col-6 pull-right">
                        <div class="text-right">
                            <a asp-action="Create" class="btn btn-info"><i class="material-icons">add</i> &nbsp; New Device</a>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <br />
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Name)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Type)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Group)</th>
                                <th>@Html.DisplayName("Status")</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                    <td>@Html.DisplayFor(m => item.Type)</td>
                                    <td>@Html.DisplayFor(m => item.Group.Name)</td>
                                    <td>
                                        <input type="hidden" class="deviceHidden" value="@item.Id" />
                                        <label class="statuslbl">Getting Status</label>
                                    </td>
                                    <td class="td-actions text-right">
                                        <a href="@Url.Action("Details", new { id = item.Id } )" rel="tooltip" class="btn btn-info">
                                            <i class="material-icons">details</i>
                                        </a>
                                        <a href="#" data-toggle="modal" data-target="#terminalModal" rel="tooltip" class="btn btn-info"
                                           data-whatever="@item.Id">
                                            <i class="material-icons">computer</i>
                                        </a>
                                        <a href="@Url.Action("Edit", new { id = item.Id } )" rel="tooltip" class="btn btn-success">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a href="@Url.Action("Delete", new { id = item.Id } )" rel="tooltip" class="btn btn-danger">
                                            <i class="material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="terminalModal" tabindex="-1" role="dialog" aria-labelledby="terminalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="terminalModalLabel">Terminal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="message-text" rows="10" style="width:100%"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Run</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(document).ready(function () {
            setInterval(function () {
                $(".statuslbl").each(function () {
                    let id = $('input[type=hidden]', $(this).closest("td")).val();
                    let label = $(this);

                    const url = "https://localhost:44302/Tools/GetDeviceStatus/" + id;

                    $.getJSON(url, function (data) {
                        if (data == true) {
                            label.html('<i class="material-icons">wifi</i>');
                        } else {
                            label.html('<i class="material-icons">wifi_off</i>');
                        }
                    });
                });
            }, 5000);

            $('#terminalModal').on('show.bs.modal', function (event) {
                  var button = $(event.relatedTarget) // Button that triggered the modal
                  var deviceId = button.data('whatever') // Extract info from data-* attributes
                  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                  //var modal = $(this)
                  //modal.find('.modal-title').text('New message to ' + recipient)
                  //modal.find('.modal-body input').val(recipient)
            })
         });
    </script>
}